In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir('..')

In [6]:
import pandas as pd
from src.data import load_raw_data

rides_2023 = load_raw_data(year=2022)


rides_2024 = load_raw_data(year=2023)

# Concatenate the DataFrames for 2023 and 2024
rides = pd.concat([rides_2023, rides_2024], ignore_index=True)

File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage
File 2022-11 was already in local storage
File 2022-12 was already in local storage
File 2023-01 was already in local storage
File 2023-02 was already in local storage
File 2023-03 was already in local storage
File 2023-04 was already in local storage
File 2023-05 was already in local storage
File 2023-06 was already in local storage
File 2023-07 was already in local storage
File 2023-08 was already in local storage
File 2023-09 was already in local storage
File 2023-10 was already in local storage
File 2023-11 was already in local storage
Downloading file 2023-12
2023-12 file is not available

In [7]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:05<00:00, 45.78it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
4445635 2023-11-30 19:00:00      3                 265
4445636 2023-11-30 20:00:00      3                 265
4445637 2023-11-30 21:00:00      6                 265
4445638 2023-11-30 22:00:00      3                 265
4445639 2023-11-30 23:00:00      9                 265

[4445640 rows x 3 columns]

In [8]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:41<00:00,  6.40it/s]

features.shape=(177815, 674)
targets.shape=(177815,)

In [9]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')